# These are made from the commands 'elm package install' and 'npm install' respectively
elm-stuff
dev/elm-stuff
dev/node_modules
examples/elm-stuff
examples/*.html
examples/node_modules
examples/.surgeignore
examples/gulpFile.coffee
examples/server.coffee
examples/package.json
benchmark/*.html
node_modules

# Do development work in a folder called dev
dev
