# These are made from the commands 'elm package install' and 'npm install' respectively
elm-stuff
dev/elm-stuff
dev/node_modules
examples/elm-stuff

# These are made from the command 'gulp'
dev/public/app.js
dev/public/elm.js
dev/public/style.css