# These are made from the commands 'elm package install' and 'npm install' respectively
elm-stuff
dev/elm-stuff
dev/node_modules
examples/elm-stuff

# This is dev, something used in the development branch
dev