@font-face {
  font-family: HFNSS;
  src: url("https://cdn.rawgit.com/Chadtech-Online-1/Chadtech-Online-1.github.io/master/HFNSS.ttf");
}
::-webkit-input-placeholder {
  color: #54574d;
}
body {
  background: #030907;
  padding: 0;
  margin: 0;
}
#number-1-canvas {
  background: #f00;
  image-rendering: pixelated;
}
.point {
  font-family: HFNSS;
  color: #b0a69a;
  font-size: 2em;
  margin: 0;
}
.point.clickable {
  cursor: pointer;
  color: #b39f4b;
}
.point.clickable:hover {
  color: #e3d34b;
}
.point.important {
  color: #b39f4b;
}
.point.urgenter {
  color: #e3d34b;
}
.point.critical {
  color: #f21d23;
}
.root {
  width: 100%;
  height: 100%;
  padding: 11px;
}
