@font-face
  font-family HFNSS
  src url("https://cdn.rawgit.com/Chadtech-Online-1/Chadtech-Online-1.github.io/master/HFNSS.ttf")


standardSize    = 2em
biggerSize      = 4em
wayBig          = 8em
cellWidth       = 50px
cellHeight      = 19px

pointColor      = #b0a69a

importantText   = #b39f4b
importanterText = #e3d34b

ignorable       = #807872
veryIgnorable   = #54574d

background      = #030907
offBackground   = #060c0a
actualBlack     = #000000

critical        = #f21d23
good            = #366317
prettyBlue      = #175cfe

::-webkit-input-placeholder 
   color veryIgnorable


standardBorder()
  border-style      solid
  border-width      2px
  border-color      pointColor
  outline           none

canvas
  image-rendering pixelated
  margin 2px

body
  background background
  padding    0
  margin     0
  
.drawing-canvas
  display table
  border 2px solid ignorable

.option-row
  display table

.canvas-container
  float left
  margin 5px

.button
  font-family  HFNSS
  background   none
  font-size    standardSize
  margin       0 
  padding      0
  cursor       pointer
  color        importantText
  outline      none
  border       none 
  &:hover
    color      importanterText
    
.point
  font-family  HFNSS
  color        pointColor
  font-size    standardSize
  margin       0
  &.clickable
    cursor pointer
    color importantText
    &:hover
      color importanterText
    
  &.important
    color importantText
  &.urgenter
    color importanterText
  &.critical
    color critical
    
.root
  width  100%
  height 100%
  padding 11px

  
  